@media (max-width: 760px) {

    header {
        align-items: center;
    }

    header h1,
    h2 {
        font-size: 1.1em;
    }

    .txt-input {
        width: 69px;
    }
    
    ul{
        padding-inline-start: 0px;
    }

    .dropdown-wrapper {
        transform: translate(55vw, -20px)
      }

    .toy-filter {
        gap:2px;
        p {
            display: none;
        }
        .dropdown{
            width: 95px;
        }
        padding: 0;
    }

.main-layout {

  grid-template-columns: 0px 1fr 0px;
}
    .main-nav {
        display: grid;
        grid-template-columns: 60px, 60px;
        grid-template-rows: 1fr, 1fr;

    }

    .main-nav a {
        padding: 0;

    }

    .todo-list {
        padding: 0;
    }
}

@media (min-width: 760px) {}

@media (min-width: 980px) {}

@media (min-width: 1260px) {}