
    $clr1: rgb(237, 237, 237);
    $clr2: rgb(209, 209, 209);
    $clr3: rgb(194, 194, 194);
    $clr4: rgb(105, 105, 105);
    $clr5: rgb(68, 68, 68);
  
    $pink1:#f4d0d09e;
    $pink2: #fed0d0;
    $pink3: #f1b2b2;
    
  




