.user-msg {
    background-color: var(--mail-side-menu);
    padding: 1em;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: auto;
}

.user-msg.success {
    background-color: $clr2;
    border-radius: 1.2em;
    opacity: 0.8;
}

.user-msg.error {
    background-color: rgba(101, 53, 60, 0.992);
    border-radius: 1.2em;
}

.user-msg button {
    float: right;
    margin: 1em;
}


/* 
.user-msg {
    color:white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top:0;
    right:0;
    background-color: grey;
}
.user-msg button {
    float:right;
    border:0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}
.danger {
    background-color: rgb(216, 59, 59);
} */
